.tower-group-1 {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.tower-group-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
}
