* {
  padding: 0;
  margin: 0;
}

#centro {
  width: 90vw;
  height: 100vh;
  background: #333;
  margin: 0 auto;
}

#topo {
  background: #f00;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

#topo h1 {
  color: #fff;
  font-size: 2em;
  text-align: center;
}

.colunas {
  display: flex;
}

.coluna {
  flex-grow: 1;
  background: #999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}
.coluna h1 {
  padding: 10px;
}

@media screen and (max-width: 568px) {
  #centro {
    width: 100vw;
  }

  #topo {
    background: #ff0;
  }

  #topo h1 {
    color: #f00;
  }

  .colunas {
    flex-direction: column;
  }

  .coluna {
    margin-top: 5px;
  }
}