<!doctype html>
<html>
  <head>
    <title>MVC - Exemplo</title>
  </head>
  <body>
    <ul>
      <% authors.forEach((author) => { %>
        <li><%= author.name %></li>
        <a href=<%= `/authors/${author.id}` %>>Ver detalhes</a>
      <% }) %>
    </ul>
    <a href="/authors/new">Criar novo autor</a>
  </body>
</html>
