.tower-group-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tower-group-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
