.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

nav a {
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 4px;
  color: black;
  font-weight: 500;
  background: rgba(255, 200, 0, 0.5);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 400px) {
  nav {
    flex-direction: column;
  }
  
  nav a {
    margin-bottom: 6px;
  }
}
