.button-text {
  text-align: center;
  font-size: 15px;
  color: white;
  background-color: black;
  font-weight: 599;
}

.filter-button {
  width: 80px;
  height: 50px;
  margin: 10px;
  background-color: orange;
}

.pokedex-button {
  width: 100px;
  height: 50px;
  background-color: green;
}

.pokedex-button:disabled {
  background-color: #D0D0D0;
}
