.pokedex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px 10px;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.pokedex-buttons-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
